body,p,span{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5,h6,a,strong{
    font-family: 'Rubik', sans-serif;
}
/* Header CSS Start */
header ul li{
    display: inline-block;
    position: relative;
}
header ul li a {
	display: inline-block;
	text-decoration: none;
	color: #111111 !important;
	font-weight: 500;
	margin: 0 15px;
	font-size: 16px;
	transition: all 0.5s;
	line-height: 57px;
    padding: 10px 0;
}
header ul li:nth-child(1) a.home{
    color: #e73c3e !important;
}
header ul li ul li:nth-child(2) a.home-2{
    color: #e73c3e !important;
}

header ul li:hover>a{
    color: #e73c3e !important
}
header ul li ul {
    position: absolute;
    top:100%;
    left: 0;
    width: 235px;
    background: #fff;
    padding: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}
header ul li:hover > ul{
    opacity: 1;
    visibility: visible;
    top: 90%;
}
header ul li ul li{
    display:block;
}
header ul li ul li a {
    display: block;
    line-height: 25px;
    
}
header ul li ul li a:hover{
    letter-spacing:1px;
}
header ul li ul li ul{
    top: 0 !important;
    left: -100%;
}
.header-search {
    width: 60px;
    font-size: 24px;
    font-weight: 600;
    margin-right: 20px;
    border-right: 2px solid #ddd;
}
.header-call{
    width: 200px;
}
.header-call-icon {
    font-size: 30px;
    transform: rotate(326deg);
    color: #e73c3e;
}
.header-call-info span {
    color: #606060;
    font-weight: 500;
}
.header-call-info a {
    text-decoration: none;
    color: #111111;
    font-weight: 500;
}
a.default-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #e73c3e;
    padding: 12px 45px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
a.default-btn::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width:0;
    height: 100%;
    background: #000;
    border-radius: 5px;
    z-index: -1;
    transition: 0.5s;
}
a.default-btn:hover::after{
    width: 100%;
    left: 0;
}
/* Header CSS End */
/* Slider CSS Start */
.slider {
    background: url("https://templates.envytheme.com/finix/default/assets/img/main-banner2.jpg");
    height: 750px;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 0;
    position: relative;
    background-attachment: fixed;
}
.sub-slider{
    height: 750px;
    display: flex;
    align-items: center !important;
}
.slider-content span{
    font-size: 18px;
    font-weight: 400;
    color: #e73c3e;
}
.slider-content h1 {
    color: #111111;
    font-size: 68px;
    width: 65%;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 16px;
}
.slider-content p {
    width: 650px;
    color: #606060;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
}
.slider-social{
    position: absolute;
    bottom: 0;
    left: 0;

}
.slider-social {
    position: absolute;
    bottom: 0;
    left: 82px;
}
.slider-social ul li{
    display: inline-block;
}
.slider-social ul li span {
    margin-right: 60px;
    position: relative;
}
.slider-social ul li span::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 78px;
    width: 62%;
    height: 1px;
    background: #111111;
}
.slider-social ul li a {
    display: inline-block;
    color: #111111;
    margin-right: 11px;
}
.slider-social ul li a:hover{
    color: #e73c3e;
}
/* Slider CSS End */
/* Slider-2 CSS Start */
.slider-2 {
    padding: 6% 0;
}
.slider-2 ul{
    list-style: none;
    margin: 0;
}
/* Slider-2 CSS End */
/* About CSS Start */
.about-img{
    position: relative;
}
.about-img-text {
    position: absolute;
    bottom: 10px;
    right: 85px;
    background: url("https://templates.envytheme.com/finix/default/assets/img/about/shape.png");
    width: 200px;
    height: 200px;
    background-size: contain;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-text h3 {
    font-size: 70px;
    margin-bottom: 5px;
    line-height: 1;
    color: #e73c3e;
}
.img-text p {
    color: #111111;
    font-weight: 500;
}
.about-text span {
    color: #e73c3e;
    font-size: 16px;
}
.about-text h1 {
    color: #111111;
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 16px;
    font-weight: 400;
    line-height: 1.2;
    width: 95%;
}
.about-text p {
    color: #606060;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 15px;
}
.about-text h5{
    font-weight: 400;
    font-size: 18px;
    color: #606060;
}
.about-text ul{
    list-style: none;
    padding: 0;

}
.about-text ul li{
    color: #606060;
    margin-bottom: 10px;
}
.about-text ul li span{
    color: #e73c3e;
    font-size: 20px;
    display: inline-block;
    margin-right: 15px;

}
/* About CSS End */
/* About CSS End */
.choose {
    background: #f9fafb;
    padding: 100px 0;
}
.choose span{
    color: #e73c3e;
    font-size: 16px;
}
.choose h1{
    font-size: 36px;
    font-weight: 500;
    color: #111111;
    margin-top: 10px;
    margin-bottom: 14px;
}
.choose p {
    line-height: 1.8;
    font-size: 16px;
    color: #606060;
    font-weight: 400;
}
.choose-text{
    position: relative;
}
.choose .play-animation {
    width: 80px;
    height: 80px;
    background: #fff;
    display: inline-block;
    font-size: 50px;
    line-height: 80px;
    text-align: center;
    color: #e73c3e;
    border-radius: 50%;
    position: absolute;
    top: 77%;
    left: 46%;
    transition: 0.5s;
}
.choose .play-animation:hover{
    background: #e73c3e;
    color: #fff;
}
.choose .play-animation ::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height:80px;
    width: 80px;
    background: #e73c3e;
    border-radius: 50%;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: mukul 2s linear infinite;
}
@keyframes mukul{
    0%{
        transform: scale(1);
        opacity: .7;
    }
    50%{
        transform: scale(1.4);
        opacity: .6;
    }
    75%{
        transform: scale(1.6);
        opacity: 0;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}
.item-box {
    padding: 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 30px;
    transition: 0.5s;
}
.item-box span {
    color: #e73c3e;
    font-size: 50px;
    width: 90px;
    height: 90px;
    background: #fff;
    display: inline-block;
    line-height: 90px;
    border-radius: 50%;
    transition: 0.5s;
}
.item-box::after {
    content: "";
    position: absolute;
    top: -360px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #fdebeb;
    width: 90%;
    height: 65%;
    border-radius: 50%;
    z-index: -1;
}
.item-box h5 {
    font-size: 25px;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 15px;
}
.item-box p{
    color: #606060;
    line-height: 1.8;
    font-size: 16px;
    font-weight: 400;
}
.item-box:hover span{
    background: #e73c3e;
    color: #fff;
}
.mt{
    margin-top: -30px;
}
.item-box:hover{
    transform: translateY(-12px);
}
/* About CSS End */
/* Funding  CSS Start */
.funding-text span{
    color: #e73c3e;
    font-size: 16px;
}
.funding-text h1{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 15px;
    margin-top: 10px;
}
.funding-text p {
    width: 570px;
    margin: auto;
    color: #606060;
    line-height: 1.8;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}
.apply h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.4;
    color: #111111;
    margin-bottom: 25px;
}
.timeline ul {
    list-style: none;
    position: relative;
    padding: 0 55px;
    margin: 0 25px;
}
.timeline ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    background: #e73c3e;
    height: calc(100% - 64px);
}
.timeline ul li{
    position: relative;
    margin-bottom: 25px;
}
.timeline ul li::before {
    content: attr(data-counter);
    position: absolute;
    top: 0;
    left: -75px;
    height: 40px;
    width: 40px;
    background: #f9fafb;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #e73c3e;
    color: #e73c3e;
}
.timeline ul li strong {
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
    font-weight: 500;
    color: #111111;
}
.timeline ul li p{
    font-size: 16px;
    font-weight: 400;
    color: #606060;
    line-height: 1.8;
}
/* Funding CSS End */
/* calculate CSS Start */
.calculate{
    background: #fdebeb;
    padding: 50px 45px;
}
.cal-text{}
.cal-text p {
    font-size: 16px;
    color: #606060;
}
.cal-text h2 {
    line-height: 1.2;
    font-weight: 500;
    font-size: 36px;
    margin-top: 10px;
    color: #111111;
    margin-bottom: 35px;
}
.form-group{
    margin-bottom: 15px;
}
label{
    color: #606060;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}
.form-group input{
    border: none;
    background: #fff;
    height: 50PX;
   
}
select{
    height: 50px;
    border: none !important;

}
option{
    color: #606060 !important;
}

/* calculate CSS End */
/* solution CSS Start */
.solution-item {
    background: #e73c3e;
    border-radius: 5px;
    padding-top: 65px;
    padding-bottom: 65px;
    padding-left: 50px;
    padding-right: 50px;
}
.item-left{
    position: relative;
}
.item-left::after {
    content: "";
    position: absolute;
    top: 0;
    right: -36px;
    width: 1px;
    height: 95px;
    background: #f39e9f;
}
.item-left h3 {
    font-size: 36px;
    font-weight: 400;
    color: #fff;
    line-height: 1.2;
    margin: 0;
}
.item-right {
    height: 95px;
    display: flex;
    align-items: center;
}
.item-right span {
    display: inline-block;
    margin: 75px;
    font-size: 30px;
    color: red;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    background: #fff;
    border-radius: 50%;
}
.item-right span i{
     transform: rotate(325deg);
}
.item-right a.call-1{
    display: inline-block;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
}
/* solution CSS End */
/* Company CSS Start */
.company-content h3 {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 500;
    color: #111111;
}
.company-text {
    margin-bottom: 20px;
}
.icon {
    margin-right: 25px;
    font-size: 50px;
    color: #e73c3e;
}
.co-text h4{
    font-size: 25px;
    font-weight: 500;
    color: #111111;
    margin-bottom: 10px;
}
.co-text p{
    color: #606060;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
}
.com-img img {
    transform: translate(0, 80px);
}
/* Company CSS End */
.service{
    background: #f9fafb;
}
.service-tab ul {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.service-tab li {
    flex: 1 1 auto;
}

.service-tab button {
    border: none;
    background: transparent;
}

.service-tab span {
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
    height: 80px;
    width: 80px;
    line-height: 80px;
    text-align: center;
    color: #606060;
    font-size: 34px;
    border-radius: 50%;
    margin: auto;
}

.service-tab li button.active span {
    color: #e73c3e;
}

.service-tab li button.active {
    position: relative;
}

.service-tab li button.active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #e73c3e;
}

.service-tab strong {
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    padding-bottom: 30px;
    text-transform: capitalize;
}

.tab-content {
    margin-top: 40px;
}
.service-tab-contant h3 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 14px;
    color: #111;
}
.service-tab-contant p {
    font-size: 16px;
    color: #606060;
    line-height: 1.8;
    font-weight: 400;
}
.service-tab-contant ul {
    padding-left: 0px;
    margin: 20px 0px;
}
.service-tab-contant ul li {
    font-family: "Rubik", sans-serif;
    padding-left: 18px;
    color: #606060;
    margin-bottom: 10px;
    font-weight: 400;
    position: relative;
    list-style: none;
}
.service-tab-contant ul li::before {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    background: #e83b3e;
    border-radius: 50%;
    top: 7px;
    left: 0;
}
/* service section  end */
/* section fixed btn  */

.fixed-btn {
    text-align: center;
    padding: 50px;
}

.fixed-btn a {
    position: fixed;
    top: 50%;
    right: 10%;
    z-index: 99;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background: #82b440;
    padding: 13px 22px;
    border-radius: 30px;
    animation-name: tada;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    display: inline-block;
    transition: .5s;
}

.fixed-btn a:hover {
    background: red;
    color: #fff !important;
}

@keyframes tada {
    0% {
        transform: scale(1.3);
    }
    20% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-15deg);
    }
    60% {
        transform: rotate(15deg);
    }
    80% {
        transform: rotate(-15deg);
    }
    100% {
        transform: scale(1);
    }
}
/* Testimonial CSS Start */
.test-contant p {
    font-size: 24px;
    line-height: 1.5;
    color: #111;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

.clint-datails {}

.clint-datails h5 {
    color: #e73c3e;
    font-size: 17px;
}

.clint-datails p {
    color: #606060;
}

.test-image {
    position: relative;
}

.div-quare {
    position: absolute;
    bottom: 125px;
    left: 97px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
}

.div-quare::after {
    content: "\f10e";
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Fontawesome';
    font-weight: 600;
    width: 100%;
    height: 100%;
    line-height: 80px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    color: #e83b3e;
    box-shadow: 0 2px 28px 0 rgb(0 0 0 / 9%);
    font-size: 38px;
    transition: .5s;
    cursor: pointer;
}

.div-quare:hover::after {
    background: #e83b3e;
    color: #fff;
}
/* Testimonial CSS  End */
/* Team CSS  Start */
.team-section {
    background: #fafbfc;
}
.team-member {
    position: relative;
}
.team-menu ul {
    padding-left: 0;
    position: absolute;
    bottom: 121px;
    left: 46px;
}
.team-menu ul li {
    list-style: none;
}
.team-menu ul li a {
    display: block;
    width: 33px;
    height: 33px;
    background: #fff;
    line-height: 33px;
    margin: auto;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    color: #111;
    font-size: 16px;
    transition: .5s;
    transform: translateY(35px);
    opacity: 0;
    visibility: hidden;
}
.team-menu ul li a:hover {
    background: #e73c3e;
    color: #fff;
}

.team-member:hover ul li a {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.team-menu ul li:nth-child(1) a {
    transition: .2s !important;
}

.team-menu ul li:nth-child(2) a {
    transition: .4s !important;
}

.team-menu ul li:nth-child(3) a {
    transition: .7s !important;
}

.team-menu ul li:nth-child(4) a {
    transition: .9s !important;
}
.team-member h3 {
    font-size: 24px;
    color: #e73c3e;
    margin-top: 40px;
}
.team-member p {
    font-size: 16px;
    color: #606060;
}
/* Team CSS  End */
/* Portfolio CSS  End */
.port-image p {
    font-size: 16px;
    font-family: "Rubik", sans-serif;
    color: #e73c3e;
    margin-top: 18px;
}

.port-content {}

.port-content h3 {}

.port-content h3 a {
    font-size: 25px;
    line-height: 1.4;
    color: #111;
    margin-bottom: 18px;
    display: block;
    transition: .5s;
    text-decoration: none;
}

.port-content h3 a:hover {
    color: #e73c3e;
}
.port-content h6 a {
    font-size: 16px;
    color: #111;
    display: block;
    font-weight: 500;
    transition: .5s;
    text-decoration: none !important;
}
.port-btn:hover h6 a {
    letter-spacing: 1.2px;
    color: #e73c3e;

}
/* Portfolio CSS  End */
/* Footer CSS  End */
.footer-menu-section {
    background: #000;
    border-bottom: 1px solid #333535;
}
.footer-logo a img {
    color: #fff;
}

.footer-menu-wrap p {
    color: #fff;
    padding: 28px 0px;
}
.footer-social-menu ul {
    text-align: start;
    padding-left: 0px;
}
.footer-social-menu ul li {
    list-style: none;
}
.footer-social-menu ul li:first-child {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.footer-social-menu ul li a {
    padding: 0px 10px;
    color: #fff;
    font-size: 17px;
    transition: .5s;
    margin-top: 3px;
    display: block;
}
.footer-social-menu ul li a:hover {
    color: #e73c3e;
}
.quick-link h4 {
    font-size: 20px;
    border-bottom: 1px solid #333535;
    padding-bottom: 20px;
    color: #fff;
}
.quick-link ul {
    padding-left: 0px;
}
.quick-link ul li {
    list-style: none;
    margin-bottom: 18px;
}
.quick-link ul li a {
    color: #fff;
    transition: .5s;
    text-decoration: none;
}
.quick-link ul li a:hover {
    color: #e73c3e;
    letter-spacing: 1.2px;
}
.footer-locatain {
    position: relative;
}
.footer-locatain p {
    color: #fff;
    margin-top: 20px;
    padding-left: 35px;
}
.footer-locatain::after {
    position: absolute;
    content: "\f3c5";
    top: 3px;
    left: -4px;
    font-family: 'Fontawesome';
    font-weight: 600;
    color: #fff;
    font-size: 25px;
}
.footer-email {
    margin-top: 20px;
    position: relative;
}
.footer-email::after {
    position: absolute;
    content: "\f0e0";
    top: 3px;
    left: -4px;
    font-family: 'Fontawesome';
    font-weight: 600;
    color: #fff;
    font-size: 25px;
}
.footer-email span {
    color: #fff;
    padding-left: 35px;
    display: block;
    transition: .5s;
}
.footer-email span:hover {
    color: #e73c3e;
}
.footer-contact {
    margin-top: 20px;
    position: relative;
}
.footer-contact::after {
    position: absolute;
    content: "\f2a0";
    top: 3px;
    left: -4px;
    font-family: 'Fontawesome';
    font-weight: 600;
    color: #fff;
    font-size: 25px;
    transform: rotate(-30deg);
}
.footer-contact span {
    color: #fff;
    padding-left: 35px;
    display: block;
    transition: .5s;
}
.footer-contact span:hover {
    color: #e73c3e;
}
footer {
    background: #000;
}

footer p {
    color: rgba(158, 142, 142, 0.685);
}

footer p a {
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    transition: .5s;
    text-decoration: none;
}

footer p a:hover {
    color: #e73c3e;
}
/* Footer CSS  End */